.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color:#ffc108;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

/*SLIDES */
.test{
  position: relative;
}
.step{
  position: absolute;
  width:800px;
  height: 600px;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  z-index: 0;
  overflow: hidden;
}
.step.show{
  
    opacity: 1;
    z-index: 1;
  
}
.intro{
  background-color: rgb(223, 229, 50);
}
.preguntas{
  background-color: rgb(229, 137, 48);
}
.result{
  background-color: rgb(48, 167, 229);
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.main--menu{
  width:100%;
  background-color:#a93776;

}
.main--menu ul{
  display: flex;
  justify-content: center;
  flex-direction: row;
  list-style-type: none;
  width:100%;
  margin:0;
}
.main--menu__item{
  display: block;
  width:auto;
}
.main--menu__item a{
  display: block;
  text-decoration: none;
  color:#fff;
  background-color: #a93776;
  padding: 20px 10px;
}
.main--menu__item a.active{
  font-weight: bold;

  background-color:#7b2957;
}

.App-main{
  text-align: left;
  padding: 1.5rem;
}
.sidebar--features{
  min-width:240px;
  text-align: left;
  font-size: 0.9rem
  
}
.sidebar--features{
  width:auto;
  height: 100%;
}
.sidebar--features__ul{
  background-color:#f0f8ff;
  padding:1rem;
}
.sidebar--features__item{
  margin-bottom: 1rem;
}

section{
  display: flex;
  flex-direction: row;
  
}
.item{
  width:800px;
  height: 500px;
  border:1px solid white;
}



  .answers__item {
    width: 100%;
    min-height: 250px;
    max-width: 338px;
    padding: 24px 18px;
    border: solid 4px #e97b5c;
    border-radius: 22px;
    margin-bottom: 10px;
    cursor: pointer; }
    @media (min-width: 768px) {
      .test-personality-brick__slide__answers .answers__item {
        width: 48%;
        margin-right: 2%; }
        .test-personality-brick__slide__answers .answers__item:nth-child(even) {
          margin-right: 0; } }
    @media (min-width: 1220px) {
      .test-personality-brick__slide__answers .answers__item {
        margin-bottom: 124px;
        width: 23%;
        margin-right: 2.6%; }
        .test-personality-brick__slide__answers .answers__item:nth-child(even) {
          margin-right: 2.6%; }
        .test-personality-brick__slide__answers .answers__item:last-of-type {
          margin-right: 0; } }
    .test-personality-brick__slide__answers .answers__item .checkmark {
      display: none; }
    .test-personality-brick__slide__answers .answers__item .container-radio {
      color: #ffffff;
      font-weight: 300;
      line-height: 1.67;
      margin: 0;
      padding: 0; }
      @media (min-width: 1220px) {
        .test-personality-brick__slide__answers .answers__item .container-radio {
          font-size: 24px;
          line-height: 1.33; } }
    .test-personality-brick__slide__answers .answers__item__counter {
      color: #e97b5c;
      width: 100;
      height: auto;
      text-align: center;
      font-size: 24px;
      margin-top: 25px;
      margin-bottom: 15px; }
      @media (min-width: 1220px) {
        .test-personality-brick__slide__answers .answers__item__counter {
          margin-bottom: 25px; } }
